{
  "Clipboard: {}": {
    "ru": "Буфер обмена: {}",
  },
  "Invalid shortcut": {
    "ru": "Неправильная комбинация клавиш",
  },
  "You have copied!": {
    "ru": "Вы скопировали!",
  },
  "You pressed: {}\nExpected: {}": {
    "ru": "Вы нажали: {}\nОжидалось: {}",
  },
}
